<!DOCTYPE html>
<html ng-controller="requireLoadController">


<head>
    <title>requireLoad</title>   
    <script src="lib/require.js"></script>
    <script src="js/require.config2.js"></script>
    <script src="js/index2.js"></script>
</head>

<body>
    <div class="buttonlist">
        <input type="button" value="1" ng-click="click1()">
        <input type="button" value="2" ng-click="click2()">
        <input type="button" value="3" ng-click="click3()">
    </div>
    <div style="height:500px;width:500px;border:1px solid red" ui-view >

    </div>
</body>



</html>